In [45]:
import pandas as pd
import numpy as np

In [46]:
ldt=pd.read_csv("C:\\Loan prediction\\cleaned_data.csv")

In [48]:
ldt.head()

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### Logistic Regression

#### Data splits :

In [67]:
X = ldt.drop('Loan_Status',axis=1)
y=ldt['Loan_Status'].values

In [68]:
#### Create dummy variable 

X=pd.get_dummies(X)

In [69]:
X.head()

,Unnamed: 0,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,128.0,360.0,1.0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
1,1,4583,1508.0,128.0,360.0,1.0,0,1,0,0,...,1,0,0,1,0,1,0,1,0,0
2,2,3000,0.0,66.0,360.0,1.0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
3,3,2583,2358.0,120.0,360.0,1.0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,1
4,4,6000,0.0,141.0,360.0,1.0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1

In [92]:
#### Train -Test splits

from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [94]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(429, 635)
(429,)
(185, 635)
(185,)

#### Modelling the data

In [95]:
from sklearn.linear_model import LogisticRegression

In [96]:
lr = LogisticRegression()

#### fit the model

In [97]:

lr.fit(X_train,y_train)

C:\Users\SOOQ ELASER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### prediction

In [98]:
y_pred=lr.predict(X_test)


#### Model evaluation

In [99]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [100]:
print(accuracy_score(y_test,y_pred))

0.7837837837837838

#### Confusion Matrix:

In [101]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.31      0.44        52
           1       0.78      0.97      0.87       133

    accuracy                           0.78       185
   macro avg       0.79      0.64      0.66       185
weighted avg       0.79      0.78      0.75       185

In [102]:
print(confusion_matrix(y_test,y_pred))

[[ 16  36]
 [  4 129]]

In [103]:
### values:
## True positive =16
## True negative=132
## False Positive=1
## False Negative=36